@model List<MVC_VB2.Models.Bier>

@{
    ViewBag.Title = "Bieren";
}

<h2>Bieren</h2>
<ul>
@foreach (var bier in Model)
{
    <li>
        @Html.DisplayFor(x => bier.ID) @bier.Naam @Html.DisplayFor(x => bier.Alcohol ) <a href="Verwijderen/@bier.ID"><img src="~/Content/Images/delete.png"/></a>
    </li>
}
</ul>