@model MVC_VB2.Models.Bier

@{
    ViewBag.Title = "Verwijderen";
}

<h2>@Model.Naam verwijderen ?</h2>
<form method="post" action="~/Bier/Delete/@Model.ID">
    <input type="submit" value="Delete" />
</form>