@model MVC_VB2.Models.Persoon

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Cookies</h1>
    <p class="lead">@ViewBag.Tijdstip</p>
    <p><a href="~/Home/Wissen" class="btn btn-primary btn-lg">Cookie wissen &raquo;</a></p>

    <h1>Session state</h1>
    <p class="lead">Welkom, dit is jouw @Session["aantalBezoeken"]e bezoek.</p>
    <p><a href="~/Home/WissenSession" class="btn btn-primary btn-lg">Sessionvariabele wissen &raquo;</a> </p>

    <h1>Application state</h1>
    <p class="lead">Deze pagina werd in totaal reeds @HttpContext.Current.Application["aantalBezoeken"] keer bezocht.</p>
    <p><a href="~/Home/WissenApplication" class="btn btn-primary btn-lg">Applicationvariabele wissen &raquo;</a></p>
</div>