@model MVC_VB2.Models.Persoon

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Index</h1>
    <p>De persoon is : @Model.Achternaam @Model.Voornaam</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div class="jumbotron">
            <h1>Cookies</h1>
            <p class="lead">@ViewBag.Tijdstip</p>
            <p><a href="~/Home/Wissen" class="btn btn-primary btn-lg">Cookie wissen &raquo;</a></p>
        </div>
    </div>

</div>