
@{
    ViewBag.Title = "Palindroom";
}

<h2>Palindroom</h2> 
@ViewBag.ingetiktwoord<text> is </text>
@if (ViewBag.palindroom)
{
    <text> een </text>
}
else
{
    <text> geen </text>
}
palindroom.

