
@{
    ViewBag.Title = "WissenApplication";
}

<h2>WissenApplication</h2>
<div class="jumbotron">
    <h1>Application Variable</h1>
    <p class="lead">Application variable werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
</div>