
@{
    ViewBag.Title = "WissenSession";
}

<h2>WissenSession</h2>
<div class="jumbotron">
    <h1>Session</h1>
    <p class="lead">Sessie werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
</div>