
@{
    ViewBag.Title = "Wissen";
}

<h2>Wissen</h2>
<div class="jumbotron">
    <h1>Cookies</h1>
    <p class="lead">Cookie werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
</div>