@model List<MVC_VB2.Models.Wernemer>

@{
    ViewBag.Title = "AlleWerknemers";
}

<h2>AlleWerknemers</h2>

@foreach (var wernemer in Model)
{
    <p>@wernemer.naam verdient @Html.DisplayFor(x=>wernemer.Wedde) en indienst sinds @wernemer.InDienst</p>
}

@section scripts{
    <p>Hier wat scripts</p>
    }