<h2>Onze hoofdzetel</h2>
<p>Straat: @ViewBag.HoofdZetel.Straat</p>
<p>Huisnr: @ViewBag.HoofdZetel.HuisNr</p>
<p>Postcode: @ViewBag.HoofdZetel.PostCode</p>
<p>Gemeente: @ViewBag.HoofdZetel.Gemeente</p>