@model MVC_VB2.Models.Filiaal

@{
    ViewBag.Title = "Verwijderd";
}

<h2>Verwijderd</h2>

<h2>Verwijdering van @Model.Naam is doorgevoerd.</h2>
<h3>Terug naar de <a href="/Filiaal/Index">lijst</a></h3>